* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}




.subtitulo {
    margin: 0;
    color: #083e6e;
    display: inline;
    font-size: 25px;
    text-shadow: none;
    font-family:Arial, Helvetica, sans-serif;
    
    
}

.pdfs {
  margin: 350px 0 0 155px;

}

.sabor { 
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
    aling: center;
	
}

.linea-division {
    width: 17%;
    height: 5px;
    background-color: #bdb76b;
    margin: 7px 70px;
    
}


.carousel {
	min-height: 500px;
}


.carousel .carousel-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	aling-items: center;
	user-select: none;
	width: 500px;
	height: 500px;
        aling: center;
}

.carousel .carousel-item img {
	width: 80%;
	height: 80%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 10px;
	z-index: -1;
	border-radius: 15px;
	margin: 0 30px;

}

.carousel .indicators .indicator-item {
	border-radius:20px;
	margin: 30px 15px;
	background: #00008b;
	

}

.imgRedonda {
    width:150px;
    height:150px;
    border-radius:150px;
}


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
 
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }